---
layout: default
---
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
	<meta property="fb:pages" content="2081180942117391"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="/feed.xml">

    <title>A.h.m.e.d M.o.h.i.y</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/owl.css">
	
	<!-- A Quick css -->
	<style>
	.inv{color:#00000000;}
	.xp{color:#00bcd4;}
	.rounded{border-radius:1em;}
    .col-md-6,.col-sm-6{display:flex;}
	</style>
	
  </head>

  <body>
	  <div class="container">
		  <h2 class="">{{ page.title }} </h2>
		  <div>
			  <p> {{ page.category }} {{ content }} <span class="date">{{ page.date | date: '%B %d, %Y' }}</span></p>
			      <!-- Blog Posts -->
    <section id="blogs">
      <!-- Wrapper -->
      <div class="wrapper" >
            <div class="container-fluid animated fadeInDown">
                <div class="row">
                    <!-- Blog Posts -->
                    <div class="col-xl-8">
                      {% for post in paginator.posts %}
                      <div class="postbox">
                        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                        <p>Posted on {{ post.date | date_to_string }} by {{ post.author }}</p>
                        <p>{{ post.excerpt }}</p>
                        <div class="pb-5">
                          <p><a class="btn btn-dark text-uppercase" href="{{ post.url }}" role="button">Read More</a></p>
                        </div>
                          <p>Tagged with: {% for tag in post.tags %}
                          <a class="btn btn-rh btn-sm" href="/tags/{{ tag }}/" role="button">{{ tag }}</a>
                          {% endfor %}</p>
                      </div>
                      {% endfor %}
                    </div>
                    <!-- Sidebar -->
                    <!-- Social Buttons -->
                    <div class="col-lg-4">
                      <div><p class="lead ml-4 text-uppercase">About MΣ</p></div>
                        <ul class="list-inline ml-4 social-buttons">
                            {%- for sm in site.data.default.social-buttons -%}
                            {% assign ws = '' %}
                            <li class="list-inline-item">
                              <a href="{{ sm.url }}">
                                <i class="{{ sm.icon }}"></i>
                              </a>
                            </li>
                            {%- endfor -%}
                          {% assign ws = '' %}
                          </ul>
                          <div class="sidebar">
                            <!-- Bio Picture -->
                            <img class="img-fluid float-left avatar" src="{{ assets_path }}{{ site.data.home.sidebar.avatar }}" width=150px alt="Bio Pic">
                            <!-- Sidebar Text -->
                            <p class="ml-4 mr-5">{{ site.data.home.sidebar.bio-line1 }}</p>
                            <p class="ml-4 mr-5">{{ site.data.home.sidebar.bio-line2 }}</p>
                          </div>
                    </div>
                </div>
                <!-- Pagination links -->
                <div class="pagebox">
                    {% if paginator.previous_page %}
                    <a class="btn btn-dark" href="{{ paginator.previous_page_path }}" role="button">Previous</a>
                    {% endif %}
                    <span class="page_number button">
                    {{ paginator.page }} of {{ paginator.total_pages }}
                    </span>
                    {% if paginator.next_page %}
                    <a class="btn btn-dark" href="{{ paginator.next_page_path }}" role="button">Next</a>
                    {% else %}
                    <span class="next">Next</span>
                    {% endif %}
                </div>
            </div>
      </div>
      <!-- /#wrapper -->
    </section>
			  
		  </div>
	  </div>
	</body>
</html>
